
<%-include('partials/header')-%>
<body>
    <div class="main-container">
        <h2 class="page-title">Post <%=tappedPost.id%></h2>
        <div class="post-body">
            <h4 class="post-body-title"><%=tappedPost.postTitle%></h4>
            <p class="post-body-subject"><%=tappedPost.postSubject%></p>
        </div>
            
    </div>
</body>
<%-include('partials/footer')-%>
</html>